*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: #171717;
background: linear-gradient(0deg, rgba(23, 23, 23, 1) 0%, rgba(212, 186, 207, 1) 50%, rgba(23, 23, 23, 1) 100%);
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.header {
    height: 60px;
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.menu-text{
    color: white;
}

.main{
    background-image: url(./img/logo_mansao-removebg-preview.pn );
    background-repeat: no-repeat;
    background-position: center;
    background-size: 170vh;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.garrafa {
    height: 60px;
    position: absolute;
    height: 85vh; 
}

.texto {
    transform: translateX(-200px);
}

.footer{
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}